<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head"></head>

<div class="container py-3">

    <header th:insert="blocks/header :: header"></header>

    <body>

    <h2>Customer</h2>

    <div class="col-lg-5">

    <form th:method="POST" th:action=" @{/customer-all/{id}/save (id=${id}) } " th:object="${customer}">
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" type="text" th:field="*{name}" name="name" placeholder="Vasya" id="name"><br>
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="text" th:field="*{email}" name="email" placeholder="vasya@mail.ru" id="email"><br>
        <label class="form-label" for="note">Note:</label>
        <input class="form-control" type="text" th:field="*{note}" name="note" placeholder="text" id="Note"><br>
      <input class="btn btn-primary" type="submit" value="Save"/>
    </form>

<!--    <br>-->

    <form class="mt-2" th:method="POST" th:action=" @{/customer-all/{id}/remove (id=${id}) } " th:object="${customer}">
      <input class="btn btn-outline-secondary" type="submit" value="Remove"/>
    </form>

    </body>



</div>

</html>