<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head"></head>

<body>

<div class="container py-3">

  <header th:insert="blocks/header :: header"></header>

  <body>

  <h2>Add customer</h2>

  <div class="col-lg-5">

    <form th:method="POST" th:action="@{/customer-add}" th:object="${customer}">
      <label class="form-label" for="name">Name:</label>
      <input class="form-control" type="text" th:field="*{name}" name="name" placeholder="Vasya" id="name"><br>
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" type="text" th:field="*{email}" name="email" placeholder="vasya@mail.ru" id="email"><br>
      <label class="form-label" for="note">Note:</label>
      <input class="form-control" type="text" th:field="*{note}" name="note" placeholder="text" id="note"><br>

      <input class="btn btn-primary" type="submit" value="Create"/>
    </form>

  </div>

  </body>

</div>

</html>