<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head"></head>

<div class="container py-3">

    <header th:insert="blocks/header :: header"></header>

    <body>

    <h2>Tickets</h2>

    <form th:method="GET" th:action="@{/ticket-all}">

        <br>
        <div class="form-group row">
            <div class="col-sm-1">
                <a class="btn btn-primary" href="/ticket-add" role="button">Add&nbspnew</a>
            </div>

            <label class="col-sm-1 col-form-label" for="after">From&nbspdate:</label>
            <div class="col-sm-1"><input class="form-control" type="date" name="after" id="after"></div>

            <label class="col-sm-1 col-form-label" for="before">Before&nbspdate:</label>
            <div class="col-sm-1"><input class="form-control" type="date" name="before" id="before"></div>

            <label class="col-sm-1 col-form-label" for="find">Find&nbsptext:</label>
            <div class="col-sm-1"><input class="form-control" type="text" name="find" id="find"></div>

            <label class="col-sm-1 col-form-label" for="sorting">Sorting:</label>
            <div class="col-sm-1">
                <select class="form-select" name="sorting" id="sorting">
                    <option value="">-</option>
                    <option value="id">Id</option>
                    <option value="date">Date</option>
                </select>
            </div>

            <div class="col-sm-1">
                <input class="btn btn-outline-secondary" type="submit" value="Apply"/>
            </div>

            <div class="col-sm-1">
                <a class="btn btn-outline-secondary" href="/ticket-all" role="button">Default</a>
            </div>

        </div>

    </form>
    <br>


    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Completed</th>
                <th>Customer</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="ticket : ${tickets}">
                <tr>
                    <td th:text="${ticket[0]}"></td>
                    <td><a th:href="@{/ticket-all/{id}(id=${ticket[0]})}"
                           th:text="${ticket[1]}">user</a></td>
                    <td th:text="${ticket[2]}"></td>
                    <td th:text="${ticket[3]}"></td>
                    <td th:text="${ticket[4]}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>

    </body>

</div>

</html>