<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head"></head>

<body>

<div class="container py-3">

    <header th:insert="blocks/header :: header"></header>

    <body>

    <h2>Add ticket</h2><br>

    <div class="col-lg-5">

        <form th:method="POST" th:action="@{/ticket-add}" th:object="${ticket}">
            <label for="customerId" class="form-label">Customer</label>
            <select class="form-select" th:field="*{customerId}" name="customerId" id="customerId">
                <option th:value="0" th:text="Select"></option>
                <option th:each="customer : ${customers}" th:value="${customer.getId()}"
                        th:text="${customer.getName()}"></option>
            </select><br>
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" name="name" id="name"><br>
            <label class="form-label" for="date">Date:</label>
            <input class="form-control" type="date" th:field="*{date}" name="date" id="date"><br>
            <input class="btn btn-primary" type="submit" value="Create"/>
        </form>

    </div>

    </body>

</div>

</html>